<div class="nav1">
    <h1>Project title</h1>
    <ul class="navlist">
        <li class="navitem"><a href="/" class="navlink">Home</a></li>
        <li class="navitem"><a href="/customers" class="navlink">Customers</a></li>
        <li class="navitem"><a href="/products" class="navlink">Products</a></li>
        <li class="navitem"><a href="/newCustomer" id="newCustomer" class="navlink">New customer</a></li>
        <li class="navitem"><a href="/newProduct" id="newProduct" class="navlink">New product</a></li>
    </ul>
</div>